@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: Lato;
}

.fieldContainer {
  display: flex;
  margin: 6px;
  align-items: center;
}

.fieldLabel {
  width: 100px;
  margin-right: 6px;
  text-align: right;
}

input,
button,
select,
textarea {
  margin: 4px;
}

button {
  cursor: pointer;
}

h4 {
  margin: 8px 4px;
}

.skillDisp {
  padding: 0px 4px;
}

.skillDispButton {
  border: 1px solid black;
  border-radius: 4px;
}

.addButton {
  margin-right: -5px;
  width: 13px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid black;
  padding-left: 2px;
  margin-left: 0px;
}

.skillGroup {
  display: flex;
  align-items: center;
}

.childDisp {
  border-left: 2px solid black;
  border-radius: 6px;
  margin: 1px 0px;
}

.small {
  margin-left: 0px;
  margin-right: 4px;
  font-size: 10pt;
}
